/**
 * SiteConfig
 * @version v1.0.0
 */

 @import '../../variables';

.reax-site-config {
    position: fixed;
    top: 50%;
    left: 15px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .8rem;

            i {
                font-size: 25px;
                margin-bottom: 7px;
            }
        }
    }
}

.dark {
    .reax-site-config {
        li {
            color: $body-text;
        }
    }
}

@media screen and (max-width: 600px) {
    .reax-site-config {
        left: 5px;

        ul a i {
            font-size: 20px;
        }

        span {
            display: none;
        }
    }
}