@import '../../_variables';

.reax-auth {
    height: 100vh;
    background-size: cover;
    color: $body-text;

    &-wrapper {
        max-width: 580px;
        height: 100vh;
        background: lighten($background-color, 3);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &-selection-type {
        padding-bottom: 13px;
        margin: 15px 0;
        border-bottom: 1px solid $background-color-darker;
        a {
            color: $body-text;
            padding: 8px 20px;
            
            &:hover {
                color: $titles;
                cursor: pointer;
            }
        
            &.active {
                color: $titles;
                border-bottom: 2px solid $primary;
                position: relative;

                &:before {
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 4px);
                    content: '';
                    width: 8px;
                    height: 8px;
                    border: 8px solid transparent;
                    border-bottom-color: $primary;
                }

                
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &-form {
        margin: 0 45px;
    }

    &-loader-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &-error {
        margin-top: 10px;
        text-align: center;
        color: red;
    }

    &-success {
        margin-top: 10px;
        text-align: center;
        color: green;
    }
}

.dark {
    .reax-auth {
        &-wrapper {
            background-color: $titles;
        }

        &-selection-type {
            a.active {
                color: $primary;
            }
        }
    }
}